
body{ /* overall formatting for the body text */
    margin: auto;
    width: 75%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.navbar { /* style for nav bar, including colors and padding; adopted from sample code */
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: rgb(246, 146, 221);
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-buttons { /* nav bar buttons format; adopted from sample code */
  display: flex;
  gap: 1em;
}

.nav-item { /* each button text */
  padding: 0.5em 1em;
  color: black;
  text-decoration: none;
  font-size:1.2em;
  font-weight:bold;
}

.hamburger { /* don't display the hamburger on the desktop pages */
  display: none;
}

#header{ /* format section headers, including background color and text color */
    font-style: italic;
    font-size: 2em;
    color: rgb(250, 239, 140);
    background-color: rgb(228, 66, 188);
    text-align: center;
}

h1{ /* h1 font size */
  font-size: 2em;
}

.container{ /* put all items in a row */
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.item { /* stretch items to fill the width of a row */
    flex-grow: 1;   
    width: 90%; 
}

blockquote{ /* story boxes with pink background and fixed height */
    border:10px;
    border-color: black;
    background-color: rgb(242, 170, 224);
    width: auto;
    height: 400px;
}

.credit { /* style for photo credits and captions */
    color: rgb(85, 85, 85);
    font-size: 0.75em;
    font-style: italic;
}

.pub { /* style for story publication and date */
    font-style: italic;
    font-size:0.85em;
}

.headshot { /* style for headshot on home page */
    width: 50%;
    margin: auto;
    display: block;
}

#plan { /* style for photo on interactive story page */
    width: 50%;
    margin: auto;
    display: block;
}

#intro { /* style for intro blurb on home page */
  font-size: 1.5em;
}

#contact { /* style for contact information on home page */
  font-size: 1em;
  font-style:italic;
  margin: auto;
}

.blurb { /* style for intro blurbs on every page */
    width: 100%;
    font-size: 1.5em;
}

footer{ /* style for footer -- pink background and centered text */
  text-align: center;
  padding: 5px;
  background-color: rgb(246, 146, 221);;
  color: black;
  font-size: 0.75em;
}

@media (orientation: portrait) { /* style for phone orientation */
  .nav-buttons { /* don't show buttons on the nav bar */
    display: none;
  }
  .nav-buttons.active { /* show the nav buttons in a column */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(228, 66, 188);
    padding: 1em;
  }

   body { /* change the body width to fill the screen more */
    width: 90%;
    font-size: 2em;
 }

 .hamburger { /* show hamburger menu */
  display: block;
}

#plan { /* style for bike plan photo */
    width: 100%;
    height: 50%;
    margin: auto;
    display: block;
}

 blockquote{ /* style for story boxes -- background color and fixed size to display properly in columns */
    border:10px;
    border-color: black;
    background-color: rgb(242, 170, 224);
    width: 800px;
    height: 900px;
}

.container{ /* container to display stories in column  */
  flex-direction: column;

}
}



